<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <form action="/" method="post">
                <input type="text" name="text" placeholder="Type your message">
                <input type="text" name="tag" placeholder="Tag">
                <button type="submit">Add</button>
            </form>
        </div>
        <div>Messages</div>
        <div>
            <form action="/filter" method="post">
                <input type="text" name="filter">
                <button type="submit">Find</button>
            </form>
        </div>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            </div>
        {{/messages}}
    </body>
</html>